
<%- include("../partials/header") %>

</section>

<section class="popular-categories section-padding mt-15 mb-25">
    <div class="container wow fadeIn animated">
        <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows">
            </div>
            <div class="carausel-6-columns" id="carausel-6-columns">
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-gaming.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">T-Shirt</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"> <img
                                src="user-assets/imgs/category/category-contentCreation.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Bags</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-entertainment.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Sandan</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-everydayUse.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Scarf Cap</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-officeUse.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Shoes</a></h5> -->
                </div>
                <div class="card-1">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="products-grid-right.html"><img
                                src="user-assets/imgs/category/category-studies.webp" alt=""></a>
                    </figure>
                    <!-- <h5><a href="products-grid-right.html">Pillowcase</a></h5> -->

                </div>
            </div>
        </div>
</section>


<%- include("../partials/footer") %>