<%- include("../partials/header") %>

<style>
    #errorMessage {
        display: none;
    }
</style>

<div class="container col-4 login_wrap widget-taber-content p-30 background-white border-radius-5 mt-30">
    <div class="padding_eight_all bg-white">
        <div class="heading_s1">
            <h3 class="mb-30">Email Verification</h3>
        </div>

        <!-- Add your email verification modal content here -->

        <!-- Add OTP input field -->
        
            <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" class="form-control" required>
            </div>

            <!-- Add Verify Email button -->
            <button onclick="handleOtp()" class="btn btn-primary">Verify Email</button>

           
            <div class="text-muted text-center pt-25">
                <p id="timer">Time left: <span id="countdown">60</span> seconds</p>
                <a id="resendLink" onclick="resendOtp()" style="display:none";>Resend OTP</a>
            </div>
            
        
                <div class="alert alert-danger" id="errorMessage">
                    
                </div>
         
            
   

        <div class="text-muted text-center pt-25">
            Already verified? <a href="/login">Login now</a>
        </div>
    </div>
</div>

<script>
    function resendOtp(){
        fetch("/resendOtp",{
            method: "POST"
        })
        .then(response => response.json())
        .then(data => {
            if(data.success) {
                console.log("resend OTP successful");
                toggleVisibility(true);
                startCountdown();
            } else {
                console.error("resend OTP failed:", data.message)
            }
        })
        .catch(error => {
            console.error("Error", error);
        });
    }
// for page fully loading
    window.onload = function() {
        startCountdown();
    }

    function startCountdown() {
        var seconds = 60;
        var countdownElement = document.getElementById('countdown');
        var resendLink = document.getElementById('resendLink');

        clearInterval(countdownInterval);

        var countdownInterval = setInterval(function () {
            seconds--;
            countdownElement.innerText = seconds;

            if(seconds <= 0){
                clearInterval(countdownInterval); //to stop countdown intervel
                toggleVisibility(false);
            }
        }, 1000);//interval set to one seconds
    }

    function toggleVisibility(showTimer) {
        var countdownElement = document.getElementById('countdown');
        var resendLink = document.getElementById('resendLink');

        if(showTimer){
            countdownElement.style.display = 'inline'; //show the timer
            resendLink.style.display = 'none'; // Hide the resend OTP link
        } else {
            countdownElement.style.display = 'none'; // hide the timer
            resendLink.style.display = 'inline';//show the resend OTP link
        }
    }

    setTimeout(()=>{
        document.getElementById("errorMessage").style.display = "none"
    },3000)
</script>

<script>
    const errorMessageElement = document.getElementById('errorMessage');

    function handleOtp() {
       const otp = document.getElementById('otp').value

       $.ajax({
          method: "POST",
          url: "/verify-otp",
          data: {
            otp
          },
          success: (response) => {
            if(response.status == false) {
                errorMessageElement.innerHTML = "Entered OTP is incorrect";
                errorMessageElement.style.display = "block";
                // Hide the error message after 3 seconds
                setTimeout(() => {
                    errorMessageElement.style.display = "none";
                }, 3000);

                //clear the error after 3 seconds
                setTimeout(() => {
                    document.getElementById('errorMessage').innerHTML = "";
                }, 3000);
            } else {
                // Redirect to home page upon successful verification
                location.href = "/login"
                errorMessageElement.style.display = "none";
            }
          }
       })
    }
</script>

<%- include("../partials/footer") %>
